* {
	border: none;
	padding: 1em;
	margin: 0.5em;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.main-heading {
	color: darkblue; cursor: pointer;
	

}

#svg-grid {
	display: grid;
	grid-column: 2/ span 2;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 1em;
	justify-content: space-evenly;

}

.Icons {
	display: flex;
	border: 2px solid #dedede;
	background-color: floralwhite;
	display: grid;
	border-radius: 12%;
}

.Icons object{
	width: 50%;
} 

h3 {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif; 
	font-size: 2em;
}

h4 {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif; 
	font-size: 1.5em;
}


h2 {
	font-family: 'Lobster', cursive;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif; 
	font-size: 5em;
}



/* interactive SVG code */

.cls-2:hover {
	fill: orange;
}
